TextArea {
    -fx-pref-width: 69420;
    -fx-pref-height: 69420;
    -fx-background-color: transparent;
}

TextArea .content {
    -fx-background-color: white;
    -fx-padding: 12 0 0 20;
}

TextField {
    -fx-background-color: transparent;
    -fx-padding: 30 0 0 20;
    -fx-font-size: 24;
}

VBox {
    -fx-background-color: white;
}

.tag-box {
    -fx-spacing: 3;
    -fx-background-color: lightgrey;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 1 6 1 6;
}

#datetime {
    -fx-padding: 12 0 0 12;
    -fx-text-fill: dimgrey;
}

#tags-box {
    -fx-padding: 12 0 6 12;
    -fx-spacing: 6;
}

#plus {
    -fx-icon-size: 18px;
}
