Label {
    -fx-max-width: 130;
}

Separator {
    -fx-pref-width: 150;
}

ScrollPane {
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent lightgrey lightgrey transparent;
    -fx-min-width: 150;
}

.title {
    -fx-font-weight: bold;
}

.firstLine {
    -fx-text-fill: grey;
    -fx-padding: 0 0 12 0;
}

.tag {
    -fx-background-color: lightgrey;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 1 6 1 6;
}

.date {
    -fx-text-fill: grey;
}

.textVbox {
    -fx-spacing: 3;
}
